#catalog
    position: relative
    background: url('../img/catalog/catalog-bg-left.jpg') no-repeat
    background-size: 22%
    background-position-y: center

#catalog-2
    position: relative
    background: url('../img/catalog/catalog-2-bg-left.jpg') no-repeat
    background-size: 22%
    background-position-y: center

#catalog-3
    position: relative
    background: url('../img/catalog/catalog-3-bg-left.jpg') no-repeat
    background-size: 22%
    background-position-y: center

.catalog
    &__wrapper
        position: relative
        display: flex
        justify-content: flex-end
        flex-direction: column
        max-width: 85%
        margin-left: 25%
        background-color: #ffffff
    &__title
        position: absolute
        top: -55px
        right: -60px
        font-size: 3rem
        line-height: 1
        letter-spacing: 20px
        text-transform: uppercase
        font-weight: 300
        color: #ffffff
        background-color: #fc961d
        padding: 10px 20px 2px 20px
        @media ( max-width: 1400px )
            font-size: 2rem
    &__list
        display: flex
        flex-wrap: wrap
        margin-top: 50px
    &-item 
        width: 33.33%
        font-size: 1rem
        margin-bottom: 2.5em
        transition: all 0.3s
        display: flex
        justify-content: center
        align-items: center
        &__wrapper
            font-size: 1rem
            padding: 1.25em
            width: 80%
            background-color: #ffffff
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            transition: all 0.3s
            &:hover
                // outline: 2px solid #df7f0b
                transform: scale(1.04)
                box-shadow: 13px 12px 50px -14px rgba(0,0,0,0.44)
            @media ( max-width: 1400px )
                font-size: 0.7rem
        @media ( max-width: 1400px )
            font-size: 0.45rem
        &__title
            text-transform: uppercase
            color: rgba(0,0,0,0.35)
            font-size: 2.5rem
            font-weight: 300
            letter-spacing: 5px
            line-height: 1
            margin-bottom: 0.5em
            @media ( max-width: 1400px )
                font-size: 1.5rem
        &__img
            font-size: 1rem
            max-width: 13.4em
            img 
                width: 100%
            @media ( max-width: 1400px )
                font-size: 0.7rem
        &__footer
            font-size: 1rem
            display: flex
            margin-top: 1.25em
            @media ( max-width: 1400px )
                font-size: 0.7rem
        &__details-btn
            font-size: 1rem
            cursor: pointer
            border: none
            padding: 1em 1.7em
            margin-right: 0.625em
            border-radius: 7px
            background-color: transparent 
            transition: all 0.3s
            &:hover
                background-color: rgba(0,0,0,0.15)
            @media ( max-width: 1400px )
                font-size: 0.7rem
        &__order-btn
            font-size: 1rem
            cursor: pointer
            display: block
            padding: 1em 1.7em
            border: none
            background-color: #fc961d
            color: #ffffff
            text-transform: uppercase
            font-weight: bold
            border-radius: 7px
            transition: all 0.3s
            &:hover
                background-color: #df7f0b
            @media ( max-width: 1400px )
                font-size: 0.8rem
            
