#contacts 
    position: relative
    background: url('../img/contacts-bg.jpg') no-repeat
    background-size: 100%
    background-position-y: bottom

.contacts
    &__content
        height: 50%
        background-color: #ffffff
    &__title
        position: absolute
        top: 1.8em
        transform: translateY(-50%)
        right: 50%
        transform: translateX(50%)
        font-size: 2.3rem
        line-height: 0.741
        letter-spacing: 0.27em
        text-transform: uppercase
        font-weight: 300
        color: #ffffff
        background-color: #fc961d
        padding: 0.4em 0.4em 0.27em 0.675em
        @media ( max-width: 1660px )
            font-size: 1.8rem
        @media ( max-width: 1300px )
            font-size: 1.5rem
        @media ( max-width: 1090px )
            font-size: 1.3rem
    &__body
        font-size: 1rem
        padding: 10em 3.125em 3.125em 3.125em
        display: flex
        width: 100%
        height: 100%
        justify-content: center
        align-items: center
        @media ( max-width: 1400px )
            font-size: 0.8rem
    &__form
        font-size: 1rem
        width: 25em
        padding-right: 2.5em
        img 
            width: 100%
        @media ( max-width: 1400px )
            font-size: 0.8rem
    &__info
        width: 25em
        padding-left: 2.5em
        @media ( max-width: 1400px )
            font-size: 0.8rem
    &__address
        padding-bottom: 15px
        position: relative
        &::before
            content: ''
            font-size: 1rem
            position: absolute
            top: 0.75em
            left: -1.56em
            background: url('../img/map.svg') no-repeat
            background-size: cover
            width: 1.125em
            height: 1.125em
            @media ( max-width: 1400px )
                font-size: 0.8rem
        address 
            font-style: normal
            text-transform: uppercase
            color: rgba(0,0,0,0.55)
            font-size: 1.3rem
            font-weight: 300
            letter-spacing: 5px
            line-height: 1.2
            @media ( max-width: 1400px )
                font-size: 0.85rem
    &__tel
        position: relative
        padding-bottom: 15px
        text-transform: uppercase
        font-size: 1.3rem
        font-weight: 300
        letter-spacing: 5px
        line-height: 1
        &::before
            content: ''
            font-size: 1rem
            position: absolute
            top: 0
            left: -1.56em
            background: url('../img/smartphone.svg') no-repeat
            background-size: cover
            width: 1.0625em
            height: 1.0625em
            @media ( max-width: 1400px )
                font-size: 0.8rem
        a 
            color: rgba(0,0,0,0.55)
            &:hover
                border-bottom: 1px solid #fc961d
    &__email
        position: relative
        font-style: normal
        text-transform: uppercase
        color: rgba(0,0,0,0.55)
        font-size: 1.3rem
        font-weight: 300
        letter-spacing: 5px
        line-height: 1.2
        &::before
            content: ''
            font-size: 1rem
            position: absolute
            top: 0.1875em
            left: -1.56em
            background: url('../img/email.svg') no-repeat
            background-size: cover
            width: 0.9375em
            height: 0.9375em
            @media ( max-width: 1400px )
                font-size: 0.8rem
        a 
            color: rgba(0,0,0,0.55)
            &:hover
                border-bottom: 1px solid #fc961d
                