#technology 
    position: relative
    background: url('../img/technology-bg.jpg') no-repeat
    background-size: cover 
    background-position-y: bottom

.technology
    &__content 
        font-size: 
        position: absolute
        background-color: #ffffff
        top: 0
        right: 0
        bottom: 0
        width: 50%
        height: 100vh
        padding: 5.6em 3.75em 3.75em 3.75em
        clip-path: circle(100% at 100% 50%)
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end

.technology__content > .section__text 
    text-align: right